# Environment
venv/
.venv/
env/
ENV/
.env
.env.*
secrets.txt

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
*.db
*.sqlite3

# VSCode settings
.vscode/

# macOS
.DS_Store